@charset "UTF-8";

#login_table {
	margin: auto;
	width: 450px;
	height: 250px;
}

#login_btn {
	float: right;
	margin-right: 31px;
	width: 100px;
	height: 50px;
	background-color: #343a40;
	border: solid 1px #343a40;
	border-radius: 10px;
	font-size: 22px;
	font-weight: bold;
	color: white;
	text-align: center;
}

#logout_btn {
	background-color: transparent;
	width: 100px;
	border: none;
	font-weight: normal;
	font-size: 17px;
}

#login_btn:hover {
	background-color: #F2F2F2;
	color: black;
}

#logout_btn:hover {
	background-color: transparent;
	color: #D8D8D8;
}

#idlabel {
	font-size: 35px;
	text-align: right;
}

#username {
	width: 350px;
	height: 35px;
	margin-left: 5px;
}

#pwlabel {
	font-size: 35px;
	text-align: right;
}

#password {
	width: 350px;
	height: 35px;
    margin-left: 5px;
}

thead {
	background-color: #343a40;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

tbody tr:nth-child(2n) {
    background-color: #FFFFFF;
}

tbody tr:nth-child(2n+1) {
    background-color: #F2F2F2;
}

.formtable {
	width: 600px;
	height: 300px;
	margin: auto;
	padding: 10px;
}

.coursetable {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
	padding: 10px;
}

.semestertable {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
	padding: 10px;
	width: 425px;
}

caption {
	font-size: 120%;
	margin-bottom: 5px;
	caption-side: top;
	text-align: center;
}

.insideline {
	border: 1px solid black;
	height: 40px;
}

.totalline {
	border: 1px solid black;
	background-color: #343a40;
	height: 40px;
	font-weight: bold;
	color: white;
}

.label {
	text-align: right;
	vertical-align: center;
	font-size: 25px;
	font-weight: bold;	
}

.control {
	margin-left: 10px;
}

textarea {
	width: 300px;
	height: 100px;
}

input[type=text] {
	width: 300px;
	height: 30px;
    border-width: 1px;
    padding: 2px;
}

input[type=submit] {
	left: 40px;
	width: 50%;
	height: 40px;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	background-color: #343a40;
	color: white;
}

input[type=submit]:hover {
	background-color: #F2F2F2;
	color: black;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}
